In [1]:
import pandas as pd
import re

In [2]:
# Setup Dataframe with CamelCase column names
df = pd.DataFrame({'sessionId': [1, 2, 3], 'albumTitle': ['Dark was the night', 'Life on Mars', 'Live at the Apollo']})

In [3]:
df

   sessionId          albumTitle
0          1  Dark was the night
1          2        Life on Mars
2          3  Live at the Apollo

In [4]:
df.columns

Index(['sessionId', 'albumTitle'], dtype='object')

In [5]:
# Change to lowercase and snake_case
df.columns = [re.sub(r'([A-Z])', r'_\1', x).lower() for x in df.columns]

In [6]:
df.columns

Index(['session_id', 'album_title'], dtype='object')